<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Courses</title>
</head>
<body>
	{% if messages %}
	<ul class="messages">
	{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	{% endfor %}
	</ul>
	{% endif %}
	<header>
		<h2>Add a new course</h2>
		<form action = "/add" method="post">
			{% csrf_token %}
			Name:<input type="text" name="name">
			Description: <textarea name="desc"></textarea>
			<input type="submit" name="submit" value="add">
		</form>
	</header>
	<main>
		<h3>Courses</h3>
		<table>
			<tr>
				<th>Course Name</th>
				<th>Description</th>
				<th>Date Added</th>
				<th>Actions</th>
			</tr>
			{% for course in courses%}
			<tr>
				<td>{{ course.name }}</td>
				<td>{{ course.desc }}</td>
				<td>{{ course.created_at }}</td>
				<td>
					<a href="{{course.id}}/remove">remove</a>
				</td>
			</tr>
			{% endfor %}
		</table>
	</main>
</body>
</html>